#!/bin/bash

export EDITOR=vim
export XDG_CONFIG_HOME="$HOME/.config"
export PATH=$PATH:/opt/subversion/bin
export PATH=$PATH:/usr/local/bin
export PATH=$PATH:$HOME/dotfiles/bin
export PATH=$PATH:$HOME/.composer/vendor/bin
export PATH=$PATH:$HOME/go/bin
